<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="http://cdn.onlinewebfonts.com/svg/download_55769.png">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% block custom_css %} {% endblock %}

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
	<title>Database view</title>
</head>

<body>
	<!-- Header -->
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark text-light border-bottom shadow-sm">
		<ion-icon {{ attr }} class="btn btn-outline-light mx-2" style="font-size: 20px;"></ion-icon>
		<h5 class="my-2 mx-3">Article Database</h5>
		{% block pagination %} {% endblock %}
	</div>
	
	<!-- Table -->
	<div class="container-fluid">
		<table class="table table-hover table-bordered">
			<thead class="table-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">article</th>
					<th scope="col">image</th>
					<th scope="col">type</th>
					<th scope="col">title</th>
					<th scope="col">date</th>
					<th scope="col">text</th>
					<th scope="col">comments</th>
					<th scope="col">facts</th>
					<th scope="col">tonality</th>
				</tr>
			</thead>
			<tbody>
			{% block articles %} {% endblock %}
			</tbody>
		</table>
	</div>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
