{% extends 'index.html' %}


{% block custom_css %}
	<!-- Css block -->
	<style>
		#left_btn {
			visibility: {{left}};
		}
		#right_btn {
			visibility: {{right}};
		}
	</style>
{% endblock %}


{% block pagination %}
	<ion-icon id="left_btn" class="btn btn-outline-primary mx-2" name="play-outline" style="transform: rotate(180deg);"></ion-icon>
	<p id="curr" class="my-2">{{curr}}</p>
	<p class="my-2">/</p>
	<p id="limit" class="my-2">{{limit}}</p>
	<ion-icon id="right_btn" class="btn btn-outline-primary mx-2" name="play-outline" style=""></ion-icon>
{% endblock %}


{% block articles %}
	{% for article in articles %}
		<tr>
			<th scope="row"><div class="id_td">{{ article['_id'] }}</div></th>
			<td><div class="link_td">{{ article['article_url'] }}</div></td>
			<td><div class="link_td">{{ article['img_url'] }}</div></td>
			<td><div class="info_td">{{ article['article_type'] }}</div></td>
			<td><div class="title_td">{{ article['article_title'] }}</div></td>
			<td><div class="info_td">{{ article['article_date'] }}</div></td>
			<td><div class="text_td">{{ article['article_text'] }}</div></td>
			<td><div class="info_td">{{ article['article_comments'] }}</div></td>
			<td><div class="title_td">{{ article['article_facts'] }}</div></td>
			<td><div class="info_td">{{ article['article_tonality'] }}</div></td>
		</tr>
	{% endfor %}
{% endblock %}
