body {
    background: #fcfcfc;
}

.table {
	font-size: 12px;
    text-align: center;
    font-family: "Calibri";
}

th, td:first-child {
    font-size: 14px;
}

.link_td {
	width: 140px;
	word-wrap:break-word;
}

.title_td {
	width: 180px;
}

.info_td {
    width: 120px;
}

.text_td {
    font-size: 12px;
}
